<!DOCTYPE html>
<html>

  <head>
    <!-- <link rel="icon" type="image/png" href="https://live.staticflickr.com/65535/54140248620_5cb8991031_s.jpg"/> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MTH1011 - Gauss elimination example generator and training tool v1</title>
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  
  
  <body>
    
    
    <h1>MTH1011 - Gauss elimination example generator and training tool v1</h1>

    <h2>General comments</h2>
    <p>This training tool generates a random system of linear
      equations and guides you throgh the process of solving it.</p>

    <h2>Restrictions</h2>
    <p> The training tool implements a rather strict version of Gauss
    elimination:</p>
    <ul>
      <li>You cannot multiply an equation with a number.</li>
      <li>You cannot swap two equations unless you must do so.</li>
      <li>In case you have to swap two equations, you must swap the current equation with the next equation further down that has a non-zero coefficient at the relevant position.</li>
    </ul>
    
    <hr />

    <h2>Restarting with a new example</h2>
    
    <p style="background: #ffdb58;">To start again with a new example, click the <button type='button' onclick='startover()' name='btn-startover'>restart</button> button at any time.</p>

    <hr />
    
    <div id="GEG" :hidden='generate_button_disabled_p'>

    <h2>Specify the size of system</h2>
      
      <p>Please specify the desired size of the system of linear equations:</p>
      
      <p>
	Equations:    <input type='number' min='2' max='8' step='1' style="width:2em" required v-model="urows"/><span class="validity"></span>
	&nbsp;&nbsp;&nbsp;
	Variables: <input type='number' min='2' max='8' step='1' style="width:2em" required v-model="ucols"/><span class="validity"></span>
      </p>
      <p>
	<input type="checkbox" id="cb_af" v-model="uallow_fractions">
	<label for="cb_af">Try to avoid fractions</label>
      </p>
      <p><button :hidden='generate_button_disabled_p' v-on:click="gen_ex">Generate example</button></p>
      <hr/>
      <!-- <p><span v-html="html_system"></span></p> -->
    </div>

    <div id="output"></div>

    <script>
      var global_id = 1;
    </script>

   
    
<script>
function copy(o) {
    // deep copy arrays
    // https://stackoverflow.com/questions/7486085/copy-array-by-value
    var out, v, key;
    out = Array.isArray(o) ? [] : {};
    for (key in o) {
	v = o[key];
	out[key] = (typeof v === "object" && v !== null) ? copy(v) : v;
    }
    return out;
}

var clone = function() {
    // https://stackoverflow.com/questions/122102/what-is-the-most-efficient-way-to-deep-clone-an-object-in-javascript#122704
    var newObj = (this instanceof Array) ? [] : {};
    for (var i in this) {
        if (this[i] && typeof this[i] == "object") {
            newObj[i] = this[i].clone();
        }
        else
        {
            newObj[i] = this[i];
        }
    }
    return newObj;
}; 

Object.defineProperty(Object.prototype, "clone", {value: clone, enumerable: false});


function hline () {
    $('#output').append("<hr />");
    scrolltobottom();
}


  
function printp (s) {
    $('#output').append("<p>" + s + "</p>");
    scrolltobottom();
}

function printp_red (s) {
    $('#output').append("<p id='col" + global_id + "' style='background: Tomato;'>" + s + "</p>");
    scrolltobottom();
    global_id++;
}

function printp_green (s) {
    $('#output').append("<p style='background: #98fb98;'>" + s + "</p>");
    scrolltobottom();
    global_id++;
}

</script>

<!-- <script> -->
<!-- // implementation of fractions -->

<!-- function gcd (a,b) { // assume a,b are non-negative integers -->
<!--     var s,l; -->
<!--     if (a<b) {s = a; l = b;} else {s = b; l = a;} -->
<!--     while (s != 0) { -->
<!-- 	var t = l % s; -->
<!-- 	l = s; -->
<!-- 	s = t; -->
<!--     } -->
<!--     return (l); -->
<!-- }     -->
    


<!-- function Fraction(n, d) { -->

<!--     this.toPlainstring = function() { -->
<!-- 	return ("" + this.numerator -->
<!-- 		+ ((this.denominator == 1) ? "" : "/" + this.denominator)); -->
<!--     } -->
    
<!--     this.toString = function(withsign) { -->
<!-- 	var w = (typeof withsign == "undefined" ? false : withsign); -->
<!-- 	if (this.denominator == 1) { -->
<!-- 	    return (w && (this.sign == "+") ? "+" : "") + this.numerator; -->
<!-- 	} -->
<!-- 	else { -->
<!-- 	    return (w && (this.sign == "+") ? "+" : "") -->
<!-- 		+ (this.sign == "-" ? "-" : "") -->
<!-- 		+ "\\frac{" + Math.abs(this.numerator) + "}{" + this.denominator + "}"; -->
<!-- 	} -->
<!--     } -->

<!--     this.normalise = function ()  { -->
<!-- 	var g = gcd (Math.abs(this.numerator), Math.abs(this.denominator)); -->
<!-- 	this.numerator /= g; -->
<!-- 	this.denominator /= g; -->
<!-- 	if (this.numerator == 0) { -->
<!-- 	    this.sign = ""; -->
<!-- 	    this.denominator = 1; -->
<!-- 	} else if (this.numerator > 0) { -->
<!-- 	    this.sign = "+"; -->
<!-- 	} else { -->
<!-- 	    this.sign = "-"; -->
<!-- 	} -->
<!--     } -->

<!--     this.abs =       function () { -->
<!-- 	return new Fraction (Math.abs(this.numerator), this.denominator); -->
<!--     } -->

<!--     this.plus =      function (f) { -->
<!-- 	return new Fraction (this.numerator * f.denominator + this.denominator * f.numerator, -->
<!-- 			     this.denominator *= f.denominator); -->
<!--     } -->

<!--     this.minus =     function (f) { -->
<!-- 	return new Fraction (this.numerator * f.denominator - this.denominator * f.numerator, -->
<!-- 			     this.denominator *= f.denominator); -->
<!--     } -->

<!--     this.times =     function (f) { -->
<!-- 	return new Fraction (this.numerator * f.numerator, this.denominator * f.denominator); -->
<!--     } -->

<!--     this.divide =    function (f) { // XXX check for division by zero! -->
<!-- 	return new Fraction (this.numerator * f.denominator, this.denominator * f.numerator); -->
<!--     } -->

<!--     this.isZero =    function ()  { -->
<!-- 	return (this.sign == ""); -->
<!--     } -->

<!--     this.isPositive = function () { -->
<!-- 	return (this.sign == "+"); -->
<!--     } -->

<!--     this.isNegative = function () { -->
<!-- 	return (this.sign == "-"); -->
<!--     } -->
	
<!--     this.isNonzero = function () { -->
<!-- 	return (this.sign != ""); -->
<!--     } -->

<!--     this.valueOf = function () { -->
<!-- 	return (this.numerator / this.denominator); -->
<!--     } -->

<!--     this.equals = function (y) { -->
<!-- 	return ((this.numerator == y.numerator) && (this.denominator == y.denominator)); -->
<!--     } -->

<!--     if (typeof d === 'undefined') { d=1;} -->
<!--     this.numerator   = Math.abs(n); -->
<!--     this.denominator = Math.abs(d); -->
<!--     if (this.numerator == 0) { -->
<!-- 	this.sign = ""; -->
<!-- 	this.denominator = 1; -->
<!--     } else if (n > 0 && d > 0) { -->
<!-- 	this.sign = "+"; -->
<!--     } else if (n < 0 && d < 0) { -->
<!-- 	this.sign = "+"; -->
<!--     } else { -->
<!-- 	this.sign = "-"; -->
<!-- 	this.numerator = -this.numerator; -->
<!--     } -->
<!--     this.normalise(); -->
<!--     this.value = this.numerator / this.denominator; -->
<!-- } -->


<!-- function my_fraction_from_string (s) { -->

<!--     // var t = s.replace(/\s+/g, ''); -->
<!--     var t = s.replace(/[^\d/+-]/g, ''); // brutally kill all characters that are not "numeric" by deleting .... -->
    
<!--     if (t.match(/^[+-]?\d+$/)) { // no fraction sign -->
<!-- 	return new Fraction (Number(t), 1); -->
<!--     } -->
<!--     else { -->
<!-- 	var ff = t.split(/\//); -->
<!-- 	return new Fraction (Number(ff[0]), Number(ff[1])); -->
<!--     } -->
<!-- } -->





<!-- function Matrix(m,n) { // create a matrix of size m-by-n -->
<!--                        // pre-initialised with 0 everywhere (uses fractions!) -->

<!--     // initialisation -->
<!--     // XXX should check that 1 < m,n < 16 or so -->
<!--     if (typeof n === 'undefined') {n=m;} -->
<!--     this.matrix = []; -->
<!--     this.zero_matrix = true; -->
<!--     this.non_zero = []; -->
<!--     this.zero_row = []; -->
<!--     this.first_nonzero_column = Infinity; -->
<!--     this.rows = m; -->
<!--     this.columns = n; -->
<!--     for (var i=0; i < m; i++) { -->
<!-- 	this.matrix[i] = []; -->
<!-- 	this.non_zero[i] = Infinity; -->
<!-- 	this.zero_row[i] = true; -->
<!-- 	for (var j=0; j < n; j++) { -->
<!-- 	    this.matrix[i][j] = new Fraction (0); -->
<!-- 	} -->
<!--     } -->

<!--     this.analyse = function() { -->
<!-- 	var i,j; -->
	
<!-- 	this.zero_matrix = true; -->
<!-- 	this.first_nonzero_column = Infinity; -->
<!-- 	for (i = 0; i < this.rows; i++) { -->
<!-- 	    this.zero_row[i] = true; -->
<!-- 	    this.non_zero[i] = Infinity; -->
<!-- 	    for (j = 0; j < this.columns; j++) { -->
<!-- 		if (this.matrix[i][j].isNonzero()) { -->
<!-- 		    this.zero_row[i] = false; -->
<!-- 		    this.non_zero[i] = j; -->
<!-- 		    this.zero_matrix = false; -->
<!-- 		    break; -->
<!-- 		} -->
<!-- 	    } // j -->
<!-- 	    if (this.non_zero[i] < this.first_nonzero_column) { this.first_nonzero_column = this.non_zero[i];} -->
<!-- 	} // i -->
<!--     } // end analyse() -->
<!-- } -->


<!-- </script> -->

<script>

  // implementation of fractions

function gcd (a,b) { // assume a,b are non-negative integers
    var s,l;
    if (a<b) {s = a; l = b;} else {s = b; l = a;}
    while (s != 0) {
	var t = l % s;
	l = s;
	s = t;
    }
    return (l);
}    
    


function Fraction(n, d) {

    this.toPlainstring = function() {
	return ("" + this.numerator
		+ ((this.denominator == 1) ? "" : "/" + this.denominator));
    }
    
    this.toString = function(withsign) {
	var w = (typeof withsign == "undefined" ? false : withsign);
	if (this.denominator == 1) {
	    return (w && (this.sign == "+") ? "+" : "") + this.numerator;
	}
	else {
	    return (w && (this.sign == "+") ? "+" : "")
		+ (this.sign == "-" ? "-" : "")
		+ "\\frac{" + Math.abs(this.numerator) + "}{" + this.denominator + "}";
	}
    }

    this.normalise = function ()  {
	var g = gcd (Math.abs(this.numerator), Math.abs(this.denominator));
	this.numerator /= g;
	this.denominator /= g;
	if (this.numerator == 0) {
	    this.sign = "";
	    this.denominator = 1;
	} else if (this.numerator > 0) {
	    this.sign = "+";
	} else {
	    this.sign = "-";
	}
    }

    this.abs =       function () {
	return new Fraction (Math.abs(this.numerator), this.denominator);
    }

    this.plus =      function (f) {
	return new Fraction (this.numerator * f.denominator + this.denominator * f.numerator,
			     this.denominator *= f.denominator);
    }

    this.minus =     function (f) {
	return new Fraction (this.numerator * f.denominator - this.denominator * f.numerator,
			     this.denominator *= f.denominator);
    }

    this.times =     function (f) {
	return new Fraction (this.numerator * f.numerator, this.denominator * f.denominator);
    }

    this.divide =    function (f) { // XXX check for division by zero!
	return new Fraction (this.numerator * f.denominator, this.denominator * f.numerator);
    }

    this.isZero =    function ()  {
	return (this.sign == "");
    }

    this.isPositive = function () {
	return (this.sign == "+");
    }

    this.isNegative = function () {
	return (this.sign == "-");
    }
	
    this.isNonzero = function () {
	return (this.sign != "");
    }

    this.valueOf = function () {
	return (this.numerator / this.denominator);
    }

    this.equals = function (y) {
	return ((this.numerator == y.numerator) && (this.denominator == y.denominator));
    }

    if (typeof d === 'undefined') { d=1;}
    this.numerator   = Math.abs(n);
    this.denominator = Math.abs(d);
    if (this.numerator == 0) {
	this.sign = "";
	this.denominator = 1;
    } else if (n > 0 && d > 0) {
	this.sign = "+";
    } else if (n < 0 && d < 0) {
	this.sign = "+";
    } else {
	this.sign = "-";
	this.numerator = -this.numerator;
    }
    this.normalise();
    this.value = this.numerator / this.denominator;
}


function my_fraction_from_string (s) {

    var t = s.replace(/[^\d/+-]/g, ''); // brutally kill all characters that are not "numeric" by deleting ....
    
    if (t.match(/^[+-]?\d+$/)) { // no fraction sign
	return new Fraction (Number(t), 1);
    }
    else {
	var ff = t.split(/\//);
	return new Fraction (Number(ff[0]), Number(ff[1]));
    }
}

  function my_fraction_from_string_neg (s) {

     var t = s.replace(/[^\d/+-]/g, ''); // brutally kill all characters that are not "numeric" by deleting ....
    
    if (t.match(/^[+-]?\d+$/)) { // no fraction sign
	return new Fraction (-Number(t), 1);
    }
    else {
	var ff = t.split(/\//);
	return new Fraction (-Number(ff[0]), Number(ff[1]));
    }
}





function Matrix(m,n) { // create a matrix of size m-by-n
                       // pre-initialised with 0 everywhere (uses fractions!)

    // initialisation
    // XXX should check that 1 < m,n < 16 or so
    if (typeof n === 'undefined') {n=m;}
    this._nice_denominator = true;
    this._max_denominator = 1;
    this.matrix = [];
    this.zero_matrix = true;
    this.non_zero = [];
    this.zero_row = [];
    this.first_nonzero_column = Infinity;
    this.rows = m;
    this.columns = n;
    for (var i=0; i < m; i++) {
	this.matrix[i] = [];
	this.non_zero[i] = Infinity;
	this.zero_row[i] = true;
	for (var j=0; j < n; j++) {
	    this.matrix[i][j] = new Fraction (0);
	}
    }

    

    this.has_nice_denominator = function () {
	return this._nice_denominator;
    }
    

    this.max_denominator = function () {
	return this._max_denominator;
    }
    



    this.analyse = function() {
	var i,j;
	var n,d;
	var m = 1;

	
	this.zero_matrix = true;
	this.first_nonzero_column = Infinity;
	this._nice_denominator = true;
	this._max_denominator = 1;

	for (i = 0; i < this.rows; i++) {
	    for (j = 0; j < this.columns; j++) {
		d = this.matrix[i][j].denominator;
		if ((d > 10) || (d == 7)) {this._nice_denominator = false;}
		m = (d > m ? d : m);
	    }
	}
	this._max_denominator = m;

	for (i = 0; i < this.rows; i++) {
	    this.zero_row[i] = true;
	    this.non_zero[i] = Infinity;
	    for (j = 0; j < this.columns; j++) {
		if (this.matrix[i][j].isNonzero()) {
		    this.zero_row[i] = false;
		    this.non_zero[i] = j;
		    this.zero_matrix = false;
		    break;
		}
	    } // j
	    if (this.non_zero[i] < this.first_nonzero_column) { this.first_nonzero_column = this.non_zero[i];}
	} // i
    } // end analyse()
}




</script>



<script>

  function SLE(m,n) { // create an object of type SLE = systems of linear equations, m eqns, n vars
                       // pre-initialised with 0 everywhere (uses fractions!)
    // initialisation
    // XXX should check that 1 < m,n < 16 or so
    if (typeof n === 'undefined') {n=m;}
    this.rows = m;
    this.columns = n;
    this.lhs = new Matrix (m,n);
    this.rhs = [];
    this._max_denominator = 1;
    this._nice_denominator = true;
    for (var i=0; i < m; i++) {
	this.rhs[i] = new Fraction (0);
    }
    this.to_LaTeX_array = function (ann) { // convert to LaTeX array, as an array ... XXX annotations!
	var i, j;
	var m = [];
	var out = [];
	var o;
	var a;
	var an = [];

	if (typeof ann === 'undefined') {
	    a = false;
	    // for (i=0; i < this.rows; i++) {an[i] = "";}
	}
	else {
	    an = copy(ann);
	    a = true;
	}
	o = "\\left(\n\\begin{array}{";
	for (i=0; i < this.columns; i++) {o += "r";}
	o += "|r}\n";
	out.push(o);
	for (i=0; i < this.rows; i++) {
	    m = [];
	    for (j=0; j < this.columns; j++) {
		m[j] = this.lhs.matrix[i][j].toString(false);
	    }
	    o = (m.join(" & "));
	    o += " & " + this.rhs[i].toString(false)
		+ ((a && (an[i] != "") ) ? "\\rlap{\\qquad\\quad " + an[i] + "}" : "")
		+ "\\\\\n"; 
	    out.push(o);
	}
	out.push("\\end{array}\n\\right)\n");
	return out;
    } // end to_LaTeX_array()


    this.to_System = function (ann) {
	var i,j;

	var an = [];
	var a;
	if (typeof ann === 'undefined') {
	    a = false;
	}
	else {
	    an = copy(ann);
	    a = true;
	}

	var offset = this.lhs.first_nonzero_column;
	
	var fmt = "rcrcrcrcrcrcrcrcrcrcrcrcrcrcrcrcrcr".substring(0, 2*this.columns +1);
	var out = "\\left.\n\\begin{array}{" + fmt + "}\n";
	
	for (i = 0; i < this.rows; i++) { // iterate over rows
	    var r = this.lhs.matrix[i];
	    var tmp = [];
	    for (j=Math.min (offset, this.columns-1); j < this.columns; j++) { // iterate over columns
		var c1 = r[j].toString(false);
		var c2 = r[j].abs().toString(false);
		if (c1 == "1")  { c1 = "";}
		if (c1 == "-1") { c1 = "-";}
		if (c2 == "1") { c2 = "";}
		if (r[j].isNonzero()&& j > this.lhs.non_zero[i]) {
		    if (j > offset) {tmp.push(r[j].sign);}
		    tmp.push(c2 + "x_{" + (j+1) + "}");
		}
		else if (r[j].isNonzero() && (j == this.lhs.non_zero[i])) {
		    if (j > offset) {tmp.push("");}
		    tmp.push(c1 + "x_{" + (j+1) + "}");
		}
		else if (this.lhs.zero_row[i] && (j == this.columns-1)) {
		    if (j > offset) {tmp.push("");}
		    tmp.push("0");
		}
		else {
		    if (j > offset) {tmp.push("");}
		    tmp.push("");
		}
	    } // column counter j
	    tmp.push("=");
	    tmp.push(this.rhs[i].toString(false));
	    out += tmp.join("&")
//		+ ((a && (an[i] != "")) ? "\\rlap{\\qquad\\qquad\\(" + an[i] +"\\)}" : "")
		+ ((a && (an[i] != "")) ? "\\rlap{\\qquad\\qquad" + an[i] +"}" : "")
		+ "\\\\[0.4em]\n";
	} // row counter i
	out += "\\end{array}\n\\quad\\right\\}\n";
	return (out);
    } // end this.to_System(ann)
    
    this.analyse = function () {
	this.lhs.analyse();
	this._nice_denominator = this.lhs.has_nice_denominator();
	this._max_denominator  = this.lhs.max_denominator();

	var j;

	for (j = 0; j < this.rows; j++) {
	    this._max_denominator = (this._max_denominator > this.rhs[j].denominator)
		? this._max_denominator
		: this.rhs[j].denominator;
	    if ((this.rhs[j].denominator > 10) || (this.rhs[j].denominator == 7))
	    {this._nice_denominator = false;}
	}
    }

    this.has_nice_denominator = function () {
	return this._nice_denominator;
    }

    this.max_denominator = function () {
	return this._max_denominator;
    }

    this.swap_rows = function(a,b) {
	var t;

	// swap rhs
	t  = this.rhs[a].clone();
	this.rhs[a] = this.rhs[b].clone();
	this.rhs[b] = t.clone();

	// swap lhs
	t = this.lhs.matrix[a].clone();
	    this.lhs.matrix[a] = this.lhs.matrix[b].clone();
	    this.lhs.matrix[b] = t.clone();

    }

    this.modify_row = function (r, b, c) { // modify row r by row b with coefficient c

	// console.log("r=" + r + " b=" + b + " c=" + c.toPlainstring());
	
	this.rhs[r] = this.rhs[r].plus(this.rhs[b].times(c));

	// console.log(c.toPlainstring());
	
	for (var j = 0; j < this.columns; j++) {
	    this.lhs.matrix[r][j] = this.lhs.matrix[r][j].plus(this.lhs.matrix[b][j].times(c));
	}

    }
    
}




function GaussElimination(s) { // create a Gauss elimination object, s = SLE
    // XXX check if s is of type SLE
    s.analyse();
    this.steps = [];
    this.steps.push(s.clone());
    this.rows = s.rows;
    this.columns = s.columns;
    this.rann = []; this.rann[0] = undefined;
    this.current = s.clone(); // this is the current matrix, as an SLE object
    this.actionTaken = []; this.actionTaken[0] = undefined; // 1 = swap, 2 = modify
    this.parameters = [];
    this.non_parameters = [];
    this.number_of_solutions  = undefined;
    this._nice_denominator = s.has_nice_denominator();
    this._max_denominator = s.max_denominator();
    this.eliminate = function() {
	var h,i,j, ii;
	// var roman = ["(I)", "(II)", "(III)", "(IV)", "(V)", "(VI)", "(VII)", "(VIII)", "(IX)", "(X)", "(XI)", "(XII)", "(XIII)", "(XIV)", "(XV)"];
	var roman = ["(1)", "(2)", "(3)", "(4)", "(5)", "(6)", "(7)", "(8)", "(9)", "(10)", "(11)", "(12)", "(13)", "(14)", "(15)"];
	for (i = 0; i < this.rows - 1; ) {
	    var annotation = [];
	    for (h = 0; h < this.rows; h++) {annotation[h] = "";}  // clear annotations
	    var M = this.current.clone(); // copy current SLE object
	    this.current.analyse();
	    var c = this.current.lhs.non_zero[i];
	    // add_new_maths_output("c = " + c);
	    ii = 0;
	    for (h = i+1; h < this.rows; h++) {
		if (this.current.lhs.non_zero[h] < c) {c = this.current.lhs.non_zero[h]; ii = h;}
	    }
	    // add_new_maths_output("i = " + i + "  ii = " + ii);
	    if (ii > i) { // need to swap rows
		this.actionTaken.push ({action:1, r1:i, r2:ii});
		annotation[i]  = roman[ii];
		annotation[ii] = roman[i];
		M.lhs.matrix[i]  = this.current.lhs.matrix[ii].clone();
		M.lhs.matrix[ii] = this.current.lhs.matrix[i].clone();
		M.rhs[i] = this.current.rhs[ii].clone(); M.rhs[ii] = this.current.rhs[i].clone();
		M.analyse();
		this.steps.push(M);
		this.current = M.clone();
		this.rann.push(copy(annotation));
		continue;
	    }
	    // don't need to swap - can start eliminating
	    var changed = 0;
	    var changelog = [];
	    for (h = i+1; h < this.rows; h++) {
	    	if (this.current.lhs.zero_row[h] || (this.current.lhs.non_zero[h] > c)) {
		    changelog.push({row:h, coeff:new Fraction (0)});
		    continue;
		} // skip if starting with zero
		changed++;
	    	var coeff = this.current.lhs.matrix[h][c].divide(this.current.lhs.matrix[i][c]);
		changelog.push({row:h, coeff:coeff});
		var atmp = coeff.times(my_fraction_from_string("-1")).toString(true);
		if (atmp == "+1") {atmp = "+";}
		if (atmp == "-1") {atmp = "-";}
	    	annotation[h] = roman[h] + atmp + roman[i];
	    	for (var gg = c; gg < this.columns; gg++) {
		    M.lhs.matrix[h][gg] = this.current.lhs.matrix[h][gg].minus(coeff.times(this.current.lhs.matrix[i][gg]));
		}
	    	M.rhs[h] =  this.current.rhs[h].minus(coeff.times(this.current.rhs[i]));
	    } // h
	    if (changed > 0) {
		M.analyse();
		this.steps.push(M);
		this.current = M.clone();
		this.rann.push(copy(annotation));
		this.actionTaken.push({action:2, by:i, log:changelog.clone()});
		this._nice_denominator = (M.has_nice_denominator() && this._nice_denominator);
		this._max_denominator = (this._max_denominator > M.max_denominator() ? this._max_denominator : M.max_denominator());
	    }
	    i++;
	}
	// Gauss elimination done
	// system is now in row echelon form
	// determine parameters and number of solutions
	var cur = -1;
	var nxt;
	var l = this.current.lhs;
	for (i=0; i<this.rows; i++) {
	    if (l.zero_row[i]) {
		nxt = this.columns;
	    }
	    else {
		nxt = l.non_zero[i];
		this.non_parameters.push(nxt); // found a non-parameter
	    }
	    if (nxt - cur > 1) {
		cur++;
		while (cur < nxt) {
		    this.parameters.push(cur+1);
		    cur++;
		}
	    }
	    else {
		cur = nxt;
	    }
	    if (l.zero_row[i]) {break;}
	}
	if (cur < this.columns - 1) {
	    cur++;
	    while (cur < this.columns) {
		this.parameters.push(cur+1);
		cur++;
	    }
	}
	
	for (i = 0; i < this.rows; i++) {
	    if (l.zero_row[i] && this.current.rhs[i].isNonzero()) {
		this.number_of_solutions = 0;
		break;
	    }
	    
	    if (typeof this.number_of_solutions == 'undefined') {
		this.number_of_solutions = this.parameters.length ? Infinity : 1;
	    }
	} // end of analysis of row echelon form
    } // end eliminate()
} // end GaussElimination()

    
    





</script>





<!-- <script> -->
<!-- function SLE(m,n) { // create an object of type SLE = systems of linear equations, m eqns, n vars -->
<!--                        // pre-initialised with 0 everywhere (uses fractions!) -->
<!--     // initialisation -->
<!--     // XXX should check that 1 < m,n < 16 or so -->
<!--     if (typeof n === 'undefined') {n=m;} -->
<!--     this.rows = m; -->
<!--     this.columns = n; -->
<!--     this.lhs = new Matrix (m,n); -->
<!--     this.rhs = []; -->
<!--     for (var i=0; i < m; i++) { -->
<!-- 	this.rhs[i] = new Fraction (0); -->
<!--     } -->
<!--     this.to_LaTeX_array = function (ann) { // convert to LaTeX array, as an array ... XXX annotations! -->
<!-- 	var i, j; -->
<!-- 	var m = []; -->
<!-- 	var out = []; -->
<!-- 	var o; -->
<!-- 	var a; -->
<!-- 	var an = []; -->

<!-- 	if (typeof ann === 'undefined') { -->
<!-- 	    a = false; -->
<!-- 	    // for (i=0; i < this.rows; i++) {an[i] = "";} -->
<!-- 	} -->
<!-- 	else { -->
<!-- 	    an = copy(ann); -->
<!-- 	    a = true; -->
<!-- 	} -->
<!-- 	o = "\\left(\n\\begin{array}{"; -->
<!-- 	for (i=0; i < this.columns; i++) {o += "r";} -->
<!-- 	o += "|r}\n"; -->
<!-- 	out.push(o); -->
<!-- 	for (i=0; i < this.rows; i++) { -->
<!-- 	    m = []; -->
<!-- 	    for (j=0; j < this.columns; j++) { -->
<!-- 		m[j] = this.lhs.matrix[i][j].toString(false); -->
<!-- 	    } -->
<!-- 	    o = (m.join(" & ")); -->
<!-- 	    o += " & " + this.rhs[i].toString(false) -->
<!-- 		+ ((a && (an[i] != "") ) ? "\\rlap{\\qquad\\quad " + an[i] + "}" : "") -->
<!-- 		+ "\\\\\n";  -->
<!-- 	    out.push(o); -->
<!-- 	} -->
<!-- 	out.push("\\end{array}\n\\right)\n"); -->
<!-- 	return out; -->
<!--     } // end to_LaTeX_array() -->


<!--     this.to_System = function (ann) { -->
<!-- 	var i,j; -->

<!-- 	var an = []; -->
<!-- 	var a; -->
<!-- 	if (typeof ann === 'undefined') { -->
<!-- 	    a = false; -->
<!-- 	    // for (i=0; i < this.rows; i++) {an[i] = "";} -->
<!-- 	} -->
<!-- 	else { -->
<!-- 	    an = copy(ann); -->
<!-- 	    a = true; -->
<!-- 	} -->

<!-- 	var offset = this.lhs.first_nonzero_column; -->
	
<!-- 	var fmt = "rcrcrcrcrcrcrcrcrcrcrcrcrcrcrcrcrcr".substring(0, 2*this.columns +1); -->
<!-- 	var out = "\\left.\n\\begin{array}{" + fmt + "}\n"; -->
	
<!-- 	for (i = 0; i < this.rows; i++) { // iterate over rows -->
<!-- 	    var r = this.lhs.matrix[i]; -->
<!-- 	    var tmp = []; // = r[offset].isNonzero() ? [r[offset].toString(false) + "x_{" + (offset+1) +"}"] : [""]; -->
<!-- 	    for (j=Math.min (offset, columns-1); j < this.columns; j++) { // iterate over columns -->
<!-- 		var c1 = r[j].toString(false); -->
<!-- 		var c2 = r[j].abs().toString(false); -->
<!-- 		// if ((c1 == "1") || (c2 == "1")) { c1 = "";} -->
<!-- 		if (c1 == "1")  { c1 = "";} -->
<!-- 		if (c1 == "-1") { c1 = "-";} -->
<!-- 		if (c2 == "1") { c2 = "";} -->
<!-- 		if (r[j].isNonzero()&& j > this.lhs.non_zero[i]) { -->
<!-- 		    if (j > offset) {tmp.push(r[j].sign);} -->
<!-- 		    tmp.push(c2 + "x_{" + (j+1) + "}"); -->
<!-- 		} -->
<!-- 		else if (r[j].isNonzero() && (j == this.lhs.non_zero[i])) { -->
<!-- 		    if (j > offset) {tmp.push("");} -->
<!-- 		    tmp.push(c1 + "x_{" + (j+1) + "}"); -->
<!-- 		} -->
<!-- 		else if (this.lhs.zero_row[i] && (j == this.columns-1)) { -->
<!-- 		    if (j > offset) {tmp.push("");} -->
<!-- 		    tmp.push("0"); -->
<!-- 		} -->
<!-- 		else { -->
<!-- 		    if (j > offset) {tmp.push("");} -->
<!-- 		    tmp.push(""); -->
<!-- 		} -->
<!-- 	    } // column counter j -->
<!-- 	    tmp.push("="); -->
<!-- 	    tmp.push(this.rhs[i].toString(false)); -->
<!-- 	    out += tmp.join("&") -->
<!-- 		+ ((a && (an[i] != "")) ? "\\rlap{\\qquad\\qquad" + an[i] +"}" : "") -->
<!-- 		+ "\\\\\n"; -->
<!-- 	} // row counter i -->
<!-- 	out += "\\end{array}\n\\quad\\right\\}\n"; -->
<!-- 	return (out); -->
<!--     } // end this.to_System(ann) -->
    
<!--     this.analyse = function () { -->
<!-- 	this.lhs.analyse(); -->
<!--     } -->
<!-- } -->




<!-- function GaussElimination(s) { // create a Gauss elimination object, s = SLE -->
<!--     // XXX check if s is of type SLE -->
<!--     s.analyse(); -->
<!--     this.steps = []; -->
<!--     this.steps.push(s.clone()); -->
<!--     this.rows = s.rows; -->
<!--     this.columns = s.columns; -->
<!--     this.rann = []; this.rann[0] = undefined; -->
<!--     this.current = s.clone(); // this is the current matrix, as an SLE object -->
<!--     this.actionTaken = []; this.actionTaken[0] = undefined; // 1 = swap, 2 = modify -->
<!--     this.parameters = []; -->
<!--     this.non_parameters = []; -->
<!--     this.number_of_solutions  = undefined; -->
<!--     this.eliminate = function() { -->
<!-- 	var h,i,j, ii; -->
<!-- 	// var roman = ["(I)", "(II)", "(III)", "(IV)", "(V)", "(VI)", "(VII)", "(VIII)", "(IX)", "(X)", "(XI)", "(XII)", "(XIII)", "(XIV)", "(XV)"]; -->
<!-- 	var roman = ["(1)", "(2)", "(3)", "(4)", "(5)", "(6)", "(7)", "(8)", "(9)", "(10)", "(11)", "(12)", "(13)", "(14)", "(15)"]; -->
<!-- 	for (i = 0; i < this.rows - 1; ) { -->
<!-- 	    var annotation = []; -->
<!-- 	    for (h = 0; h < this.rows; h++) {annotation[h] = "";}  // clear annotations -->
<!-- 	    var M = this.current.clone(); // copy current SLE object -->
<!-- 	    this.current.analyse(); -->
<!-- 	    var c = this.current.lhs.non_zero[i]; -->
<!-- 	    // add_new_maths_output("c = " + c); -->
<!-- 	    ii = 0; -->
<!-- 	    for (h = i+1; h < this.rows; h++) { -->
<!-- 		if (this.current.lhs.non_zero[h] < c) {c = this.current.lhs.non_zero[h]; ii = h;} -->
<!-- 	    } -->
<!-- 	    // add_new_maths_output("i = " + i + "  ii = " + ii); -->
<!-- 	    if (ii > i) { // need to swap rows -->
<!-- 		this.actionTaken.push ({action:1, r1:i, r2:ii}); -->
<!-- 		annotation[i]  = roman[ii]; -->
<!-- 		annotation[ii] = roman[i]; -->
<!-- 		M.lhs.matrix[i]  = this.current.lhs.matrix[ii].clone(); -->
<!-- 		M.lhs.matrix[ii] = this.current.lhs.matrix[i].clone(); -->
<!-- 		M.rhs[i] = this.current.rhs[ii].clone(); M.rhs[ii] = this.current.rhs[i].clone(); -->
<!-- 		M.analyse(); -->
<!-- 		this.steps.push(M); -->
<!-- 		this.current = M.clone(); -->
<!-- 		this.rann.push(copy(annotation)); -->
<!-- 		continue; -->
<!-- 	    } -->
<!-- 	    // don't need to swap - can start eliminating -->
<!-- 	    var changed = 0; -->
<!-- 	    var changelog = []; -->
<!-- 	    for (h = i+1; h < this.rows; h++) { -->
<!-- 	    	if (this.current.lhs.zero_row[h] || (this.current.lhs.non_zero[h] > c)) { -->
<!-- 		    changelog.push({row:h, coeff:new Fraction (0)}); -->
<!-- 		    continue; -->
<!-- 		} // skip if starting with zero -->
<!-- 		changed++; -->
<!-- 	    	var coeff = this.current.lhs.matrix[h][c].divide(this.current.lhs.matrix[i][c]); -->
<!-- 		changelog.push({row:h, coeff:coeff}); -->
<!-- 		var atmp = coeff.times(my_fraction_from_string("-1")).toString(true); -->
<!-- 		if (atmp == "+1") {atmp = "+";} -->
<!-- 		if (atmp == "-1") {atmp = "-";} -->
<!-- 	    	annotation[h] = roman[h] + atmp + roman[i]; -->
<!-- 	    	for (var gg = c; gg < this.columns; gg++) { -->
<!-- 		    M.lhs.matrix[h][gg] = this.current.lhs.matrix[h][gg].minus(coeff.times(this.current.lhs.matrix[i][gg])); -->
<!-- 		} -->
<!-- 	    	M.rhs[h] =  this.current.rhs[h].minus(coeff.times(this.current.rhs[i])); -->
<!-- 	    } // h -->
<!-- 	    if (changed > 0) { -->
<!-- 		M.analyse(); -->
<!-- 		this.steps.push(M); -->
<!-- 		this.current = M.clone(); -->
<!-- 		this.rann.push(copy(annotation)); -->
<!-- 		this.actionTaken.push({action:2, by:i, log:changelog.clone()}); -->
<!-- 	    } -->
<!-- 	    i++; -->
<!-- 	} -->
<!-- 	// Gauss elimination done -->
<!-- 	// system is now in row echelon form -->
<!-- 	// determine parameters and number of solutions -->
<!-- 	var cur = -1; -->
<!-- 	var nxt; -->
<!-- 	var l = this.current.lhs; -->
<!-- 	for (i=0; i<this.rows; i++) { -->
<!-- 	    if (l.zero_row[i]) { -->
<!-- 		nxt = this.columns; -->
<!-- 	    } -->
<!-- 	    else { -->
<!-- 		nxt = l.non_zero[i]; -->
<!-- 		this.non_parameters.push(nxt); // found a non-parameter -->
<!-- 	    } -->
<!-- 	    if (nxt - cur > 1) { -->
<!-- 		cur++; -->
<!-- 		while (cur < nxt) { -->
<!-- 		    this.parameters.push(cur+1); -->
<!-- 		    cur++; -->
<!-- 		} -->
<!-- 	    } -->
<!-- 	    else { -->
<!-- 		cur = nxt; -->
<!-- 	    } -->
<!-- 	    if (l.zero_row[i]) {break;} -->
<!-- 	} -->
<!-- 	if (cur < this.columns - 1) { -->
<!-- 	    cur++; -->
<!-- 	    while (cur < this.columns) { -->
<!-- 		this.parameters.push(cur+1); -->
<!-- 		cur++; -->
<!-- 	    } -->
<!-- 	} -->
	
<!-- 	for (i = 0; i < this.rows; i++) { -->
<!-- 	    if (l.zero_row[i] && this.current.rhs[i].isNonzero()) { -->
<!-- 		this.number_of_solutions = 0; -->
<!-- 		break; -->
<!-- 	    } -->
	    
<!-- 	    if (typeof this.number_of_solutions == 'undefined') { -->
<!-- 		this.number_of_solutions = this.parameters.length ? Infinity : 1; -->
<!-- 	    } -->
<!-- 	} // end of analysis of row echelon form -->
<!--     } // end eliminate() -->
<!-- } // end GaussElimination() -->
<!-- </script> -->




<script>
var QQQ = 0; // quiz question no
var qu = {};


function scrolltobottom () {
    window.scrollTo(0, document.body.scrollHeight);
}



function print_step(i, a) {
    // a==0: print no annotation  a==1: print annotation a==2 print equation numbers
    var arabic = ["(1)", "(2)", "(3)", "(4)", "(5)", "(6)", "(7)", "(8)", "(9)", "(10)", "(11)", "(12)", "(13)", "(14)", "(15)"];
    var empty = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
    var out = "\\[\n"
	+ ((i > 0) && (a<2) ? "\\rightarrow" : "\\hphantom{\\rightarrow}")
	+ "\\quad"
	    + E.steps[i].to_System(
		    a == 0 ? empty :
		    a == 1 ? E.rann[i] : arabic)
	+ "\\]\n";
    print_maths_output(out);
}



//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////




function display_radio_question () { // displays question with radio buttons
    var id = qu['id'];
    var check_name = qu['name'];
    var out = "";
    for (var i = 0; i < qu['options'].length; i++) {
	out += "<span id='" + id + i + "'><input type='radio' name='" + check_name + "' value='" + i + "'> " + qu['options'][i] + "</span><br>";
    }
    out += "<div id='" + qu['remove'] + "'><button type='button' onclick='" + qu['submit'] + "()'>Continue</button></div>";
    printp (out);
    return;
}


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////



function question_whatnext (correct, callback) {
    qu = {'attempt': 0,
	  'name':    "action" + QQQ,
	  'correct': correct,
	  'id':      "rb" + QQQ + "-",
	  'call_c':  callback,   // function to call if correct answer was given
	  'remove':  "btn-" + QQQ,
	  'options': ["No further elimination step, as the system is in row echelon form.",
		      "We need to swap two equations.",
		      "We need to modify some of the equations."],
	  'submit':  "check_answer_whatnext" // action of "submit" button
	 };
    display_radio_question();
    scrolltobottom();
    return;
}


function check_answer_whatnext() {
    if ($('input[name="' + qu['name'] + '"]:checked').length == 0) { return;} // no radio button checked, do nothing
    for (var i = 0; i < qu['options'].length; i++) {
	$('#' + qu['id'] + i).css('background', 'transparent');
    }
    var ans = $('input[name="' + qu['name'] + '"]:checked').val();
    if (ans == qu['correct']) {
	printp("Your answer: " + qu['options'][ans]);
	printp("This is the expected answer.");
	scrolltobottom();
	$('#' + qu['id'] + ans).css('background', '#98fb98');
	var elem = document.getElementById(qu['remove']);
	elem.parentNode.removeChild(elem);
	qu['call_c']();
    }
    else {
	printp("Your answer: " + qu['options'][ans]);
	printp("This is not the expected answer. Try again.");
	$('#' + qu['id'] + ans).css('background', 'Tomato');
	++qu['attempt'];
	scrolltobottom();
    }
    return;
}



//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////




function question_swap () {
    qu = {'attempt': 0,
	  'name':    "swap" + QQQ,
	  'correct': [E.actionTaken[QQQ]['r1'], E.actionTaken[QQQ]['r2']],
	  'id':      "rb" + QQQ + "-",
	  'call_c':  generate_quiz,   // function to call if correct answer was given
	  'remove':  "btn-sw"
	 };
    var id = qu['id'];
    check_name = "swap" + QQQ;
    printp("Here is the system again, with numbered equations:");
    print_step(QQQ-1, 2);
    $('#output').append(
	"<p id='" + id + "0'>Swap equation <input name='" + check_name + "-1' size='2' style = 'text-align: right;'> with equation <input name='" + check_name + "-2' size='2' style = 'text-align: right;'>. <div id='btn-sw'><button type='button' onclick='check_answer_swap()'>Continue</button></div></p>"
    );
    scrolltobottom();
    return;
}



function check_answer_swap() {
    var r1 = $('input[name="' + qu['name'] + '-1"]').val();
    var r2 = $('input[name="' + qu['name'] + '-2"]').val();
    r1 = r1.replace(/[^\d]/g, ''); // brutally kill all characters that are not "numeric" by deleting ....
    r2 = r2.replace(/[^\d]/g, ''); // brutally kill all characters that are not "numeric" by deleting ....
    if (!(r1.match(/^\d$/) && r2.match(/^\d$/))) {return;}
    r1;
    r2;
    if (r1 > r2) {var h = r1; r1 = r2; r2 = h;}
    if ((r1-1 == qu['correct'][0]) && (r2-1 == qu['correct'][1])) {
	printp("Your answer: Swap equations (" + r1 + ") and (" + r2 + ").");
	printp("After the swap, we proceed to the next step.");
	scrolltobottom();
	// $('#' + qu['id'] + ans).css('background', '#00FF00');
	var elem = document.getElementById(qu['remove']);
	elem.parentNode.removeChild(elem);
	qu['call_c']();
    }
    else {
	printp("Your answer: Swap equations (" + r1 + ") and (" + r2 + ").");
	printp("This is not the next step in the algorithm. Try again.");
	scrolltobottom();
	// $('#' + qu['id'] + ans).css('background', 'Tomato');
	++qu['attempt'];
    }
    return;
}



//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


function question_modify () {
    qu = {'name':    "modify-by-" + QQQ + "-input",
          'remove':  "modify-by-" + QQQ,
	  'submit':  "check_answer_modify",
	  'correct': E.actionTaken[QQQ]['by'],
	  'attempt': 0
	 };
    
    var check_name = qu['name'];
    printp("Current numbering of equations:");
    print_step(QQQ-1, 2);
    //printp("Specify which equation will be used to modify other equations:");
    
    printp("<span>Use equation <input name='" + check_name + "' style='text-align: right; width: 2em'> to modify other equations.</span><br><div id='" + qu['remove'] + "'><button type='button' onclick='" + qu['submit'] + "()'>Continue</button></div>");
    scrolltobottom();
    return;
}



function check_answer_modify () {
    var by = $('input[name="' + qu['name'] + '"]').val();
    by = by.replace(/[^\d]/g, "");
    if (! by.match(/^\d$/)) {return;}
    by--;
    if ((by < 0) || (by >= E.rows)) {return;}
    var elem = document.getElementById(qu['remove']); // remove continue button
    elem.parentNode.removeChild(elem);

    if (qu['attempt'] > 0) {
	$('#col' + (global_id-1)).css('background', '');
    }
    
    if (by != qu['correct']) { // using wrong row
	printp_red("Your answer: Use equation (" + (1+by) +") to modify equations.");
	printp("This is not the equation used at this step in the algorithm. Try again.<br><div id='" + qu['remove'] + "'><button type='button' onclick='" + qu['submit'] + "()'>Continue</button></div>");
	qu['attempt']++;
	return;
    }

    printp_green("Your answer: Use equation (" + (1+by) +") to modify equations.");

    // ask for specific modifications
    qu['name'] += "-";
    qu['submit'] = "check_answer_modify_2";
    printp("Please specify the modification steps. Leave input field empty, or use 0, for equations you do not wish to modify. You can use fractions but not decimals.");
    var out = "";
    var check_name = qu['name'];
    for (var i = by+1; i < E.rows; i++) {
    	out += "<span id='mod-" + QQQ + "-" + i
	    + "'>Equation (" + (i+1) + ") replaced with: (" + (i+1)
	    +") + <input name='" + check_name + i
	    + "' style = 'text-align: right; width: 6em'> &middot; ("
	    + (1+by) + ")</span><br>";
    }
    out += "<div id='"
	+ qu['remove']
	+ "'><button type='button' onclick='"
	+ qu['submit']
	+ "()'>Continue</button></div>";
    printp (out);
    scrolltobottom();
}




function check_answer_modify_2 () {
    var mismatch = [];
    var by = qu['correct']; // row modified by
    var match = true;
    for (var i = by+1; i < E.rows; i++) {
	var v = $('input[name="' + qu['name'] + i + '"]').val();
	if (v == '') { v='0';}
	var m = my_fraction_from_string_neg(v);  // *****
	// XXXX check if valid input
	if (m.equals(E.actionTaken[QQQ].log[i-by-1].coeff)) {
	    $('#' + "mod-" + QQQ + "-" + i).css('background', '#98fb98');
	}
	else {
	    match = false;
	    mismatch.push(i);
	    $('#' + "mod-" + QQQ + "-" + i).css('background', 'Tomato');
	}
    }
    if (match) {
	var elem = document.getElementById(qu['remove']); // remove continue button
	elem.parentNode.removeChild(elem);
	generate_quiz();
    }
    else {printp("Not all coefficients were correct. Try again.");}
    return;
}





// function question_modify_2 () {
//     var id = "modify-" + QQQ + "-";
//     var check_name = "modify-input-" + QQQ + "-";
//     qu['name'] = check_name;
//     qu['remove'] = "modify-input-" + QQQ;
//     qu['submit'] = check_answer_modify;

//     printp("Please specify the modifications with respect to this numbering of the equations:");
//     print_step(QQQ-1, 2);
//     printp("If you do not wish to modify an equation, leave the input empty or use 0.");
    
//     var out = "";
//     for (var i = 0; i < E.rows; i++) {
// 	out += "<span id='" + id + i + "'>Replace equation (" + (i+1) + ") with (" + (i+1) +") + <input name='" + check_name + i + " style = 'text-align: right;''> &middot; </span><br>";
//     }
//     out += "<div id='" + qu['remove'] + "'><button type='button' onclick='" + qu['submit'] + "()'>Continue</button></div>";
//     printp (out);
//     return;
// }







//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////



function question_howmanysolutions () {
    qu = {'attempt': 0,
	  'name':    "howmany",
	  'correct': (E.number_of_solutions < Infinity ? E.number_of_solutions : 2),
	  'id':      "hm-",
	  'call_c':  (E.number_of_solutions == 0 ? we_are_done : which_parameters),   // function to call if correct answer was given
	  'remove':  "hm-btn-",
	  'options': ["This system has no solution.",
		      "This system has precisely one solution.",
		      "This system has infinitely many solutions."],
	  'submit':  "check_answer_whatnext" // action of "submit" button
	 };
    print_step(QQQ-1, 2);
    display_radio_question();
    scrolltobottom();
    return;
}


function which_parameters() {
    print_step(QQQ-1, 2);
    printp("Which of the variables are parameters?");
    var out = '';
    for (var i = 0; i < E.columns; i++) {
	out += "<span id='paras-cb-"+ i + "'><input type='checkbox' name='paras-cb' value='" + (1+i) + "'> <i>x</i><sub>" + (1+i) + "</sub></span><br>";
    }
    out += "<span id='paras-cb-none'><input type='checkbox' name='paras-cb-none' value='none'> There are no parameters.</span><br>";
    out += "<div id='paras-btn'><button type='button' onclick='check_which_parameters()'>Continue</button></div>";
    printp(out); scrolltobottom();
}





function check_which_parameters() {
    var nc = 0;
    checked_none = ($('input[name=paras-cb-none]').is(":checked"));
    checked = $("input[name=paras-cb]:checked").map(
	function () {++nc; return this.value;}).get().join(",");
    if ((! checked_none) && (nc == 0)) {printp("You need to check at least one box."); scrolltobottom(); return;}
    var out = "Your answer: ";
    if (checked_none) {out += "There are no parameters. ";}
    switch (nc){
    case 0:
	break;
    case 1:
	out += "The variable " + (($("input[name=paras-cb]:checked").map(function () {return "<i>x</i><sub>" + this.value + "</sub>"})).get().join(", ")) + " is a parameter.";
	break;
    default:
	out += "The variables " + (($("input[name=paras-cb]:checked").map(function () {return "<i>x</i><sub>" + this.value + "</sub>"})).get().join(", ")) + " are parameters.";
    }
    printp(out);
    if (E.parameters.join(",") == checked) {
	printp("This is correct."); // We are done with the Gauss elimination.");
	var elem = document.getElementById('paras-btn'); // remove continue button
	elem.parentNode.removeChild(elem);
	we_are_done();
    }
    else {
	printp("This is not the expected answer. Try again.");
    }
    return;
}


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////






function print_the_solutions () {    
    var h, i, ii, j, m;
    var id;
    var row;
    var out;

    var elem = document.getElementById('overview-btn'); // remove continue button
    elem.parentNode.removeChild(elem);

    printp("<hr>");

    
    print_text_output("Overview of the Gauss elimination process:");
    
    for (var i = 0; i < E.steps.length; i++) {
	if (i > 0) {
	//    print_text_output("Next step in Gauss elimination algorithm:");
	}
	out = "\\[\n"
	    + ((i > 0) ? "\\rightarrow" : "\\hphantom{\\rightarrow}")
	    + "\\quad"
	    + E.steps[i].to_System(E.rann[i])
	    + "\\]\n";
	print_maths_output(out);
    }

    print_text_output("The system is now in row echelon form.");

    if (E.number_of_solutions == 0) {
	print_text_output("There are no solutions.");
    }
    else if (E.number_of_solutions == 1) {
	print_text_output("There are no parameters. There is precisely one solution.");
    }
    else {
	if (E.parameters.length == 1) {
	    print_text_output("There is one parameter. There are infinitely many solutions.");
	    print_maths_output("The parameter is \\(x_{" + E.parameters[0] +"}\\).");
	}
	else {
	    print_text_output("There are " + E.parameters.length + " parameters. There are infinitely many solutions.");
	    var oo = [];
	    for (var jj = 0; jj < E.parameters.length; jj++) {
		oo.push("\\(x_{" + E.parameters[jj] +"}\\)");
	    }			
	    print_maths_output("The parameters are " + oo.join(", ") + ".");
	}
    }

    hline();
    
    print_text_output("To practice with another example, click the 'restart' button at the top of the page.");
    print_text_output("\n\n\n");
    
    scrolltobottom();
    return;
}








//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////





function dummy() {
    alert("Function 'dummy' - something's not yet implemented!");
}


function we_are_in_ref() {
    printp("The system is now in row echelon form.");
    question_howmanysolutions();
    return;
}


function we_are_done() {
    printp("You have solved and analysed the system correctly.");
    printp("<button id='overview-btn' type='button' onclick='print_the_solutions()'>Overview</button>");
    scrolltobottom();
    return;
}


function generate_quiz() {    
    var h, i, ii, j, m;
    var id;
    var row;
    var out;

    
    if (QQQ == 0) {
	printp("<hr>This is the original system of linear equations:");
	// $('#output').append("<p>This is the original system of linear equations:</p>");
    }
    print_step(QQQ, 1);

    QQQ++;
 

    var cor;
    if (QQQ == E.steps.length) {
	cor = 0; // "done" 
    }
    else {
	cor = E.actionTaken[QQQ]['action'];
    }
	
    question_whatnext(cor,
		      cor == 0 ? we_are_in_ref :
		      cor == 1 ? question_swap :
		                 question_modify
		     );
    return;

    
    // print_text_output("The system is now in row echelon form.");

    // if (E.number_of_solutions == 0) {
    // 	print_text_output("There are no solutions.");
    // }
    // else if (E.number_of_solutions == 1) {
    // 	print_text_output("There are no parameters. There is precisely one solution.");
    // }
    // else {
    // 	if (E.parameters.length == 1) {
    // 	    print_text_output("There is one parameter. There are infinitely many solutions.");
    // 	    print_maths_output("The parameter is \\(x_{" + E.parameters[0] +"}\\).");
    // 	}
    // 	else {
    // 	    print_text_output("There are " + E.parameters.length + " parameters. There are infinitely many solutions.");
    // 	    var oo = [];
    // 	    for (var jj = 0; jj < E.parameters.length; jj++) {
    // 		oo.push("\\(x_{" + E.parameters[jj] +"}\\)");
    // 	    }			
    // 	    print_maths_output("The parameters are " + oo.join(", ") + ".");
    // 	}
    // }
}
   
</script>
<script>

var rows = 2;
var columns = 2;
var idcounter = 0;

var E = undefined;   // this will be the "elimination object"

var callback;

var restart = false;

function startover() {
    if (typeof E != 'undefined') {restart = true;}
    document.getElementById("output").innerHTML = "";
    GEG.enable_gen();
    //SetUp();
}



function SetUp() {
    // var out = '<span>Equations: <input id="rows" type="number" min="2" max="8" size="1" value="'
    // 	+ (restart ? rows : 2)
    // 	+ '" style="text-align: right; width: 2em">Variables: <input id="columns" type="number" min="2" max="8" value="'
    // 	+ (restart ? columns : 2)
    // 	+ '" style="text-align: right; width: 2em">'
    // 	+ '<button type="button" onclick="my_set_size(generate_quiz)" id="btn-size">Set size</button></span>';
    // printp(out);
    QQQ = 0;
    generate_quiz();
}




function my_set_size(cb) {
    var m,n , text, i, j;

    callback = cb;
    
    // Get the value of the input field with id="rows"
    m = document.getElementById("rows").value;          
    n = document.getElementById("columns").value;
    if ((m < 2) || (m > 8) || (n < 2) || (n > 8)) {return;}
    if ((m != rows) || (n != columns)) {
	restart = false;
	rows = m;
	columns = n;
    }
    document.getElementById("btn-size").disabled = true;


    // $('#btnPlaceOrder').prop('disabled',false)
    
    text = "<p>Please type in the system of linear equations.<br />You can use fractions like 2/3 and -5/8, but not decimals.</p><table border='1'>";
    for (i = 0; i < m; i++) {
	text += "<tr>";
	for (j = 0; j < n; j++) {
	    text += "<td> <input id='a" + i + "_" + j + "' size='3'"
		+ (restart ? " value='" + E.steps[0].lhs.matrix[i][j].toPlainstring() + "'" : "")
		+"> <i>x</i><sub>" + (j+1) + "</sub>"
		+ (j < n-1 ? "+" : "=")
		+ " </td>";
	}
	text += "<td> <input style='background-color:yellow;' id='b" + i + "' size='3'"
	    + (restart ? " value='" + E.steps[0].rhs[i].toPlainstring() + "'" : "")
	    + "> " + " </td>";
	text += "</tr>";
    }
    text += "</table>";
    text += "    <button type='button' onclick='my_set_matrix()' id = 'btn-set-matrix'>Done</button>";
    printp(text);
    restart = false;
}



function my_set_matrix() {
    var h, i, ii, j, m;
    var id;
    var row;
    var out;

    
    var M = new SLE (rows, columns);

    for (i = 0; i < rows; i++) {
	row = [];
	for (j = 0; j < columns; j++) {
	    id = "a" + i + "_" + j;
	    row[j] = my_fraction_from_string (document.getElementById(id).value);
	}
	M.lhs.matrix[i] = row;
	id = "b" + i;
	M.rhs[i] = my_fraction_from_string (document.getElementById(id).value);
    }
    M.analyse();
    document.getElementById("btn-set-matrix").disabled = true;
    
    // print matrix if desired
    // print_maths_output("\\[" + M.to_LaTeX_array().join("") + "\\]");

    E = new GaussElimination (M);
    E.eliminate();

    callback();
    
    return;
}



function print_maths_output(s) {
    var t = document.createTextNode(s);
    var id = "id" + idcounter;
    idcounter++;
    var p = document.createElement("P");
    p.id = id;
    p.appendChild(t);
    document.getElementById("output").appendChild(p);
    MathJax.Hub.Queue(["Typeset", MathJax.Hub, id]);
    return (id);
}


function print_text_output(s) {
    var t = document.createTextNode(s);
    var id = "id" + idcounter;
    idcounter++;
    var p = document.createElement("P");
    p.id = id;
    p.appendChild(t);
    document.getElementById("output").appendChild(p);
    return (id);
}



				  </script>

<script>

  function int (a) {return Math.round(a);}


var GEG = new Vue(
    {
	el: '#GEG',
	
	data: {
            rows:   3,
	    cols:   3,
	    urows:  '3',  // user input for rows
	    ucols:  '3',  // user input for cols
	    allow_fractions: false,
	    uallow_fractions: true,
	    html_system: '',
	    generate_button_disabled: false,
	}, // data

        computed: {
            generate_button_disabled_p: function(){
    	        return this.generate_button_disabled;
            }
        },
  
	methods: {

	    enable_gen: function () {this.generate_button_disabled = false;},
	    disable_gen: function () {this.generate_button_disabled = true;},
	    
	    gen_ex: function () {

		let allow_fractions = !(this.uallow_fractions);
		
		function random_fraction (f1, f2) {
		    return new Fraction (int(f1*Math.random()-f1/2),1+int(Math.random()*f2+0.5));
		}

		function random_nonzero_fraction (f1, f2) {
		    let t;
		    do {
			t = new Fraction (int(f1*Math.random()-f1/2),1+int(Math.random()*f2+0.5))
		    } while (t.isZero());
		    return t;
		}

		function random_integer (from, to) {
		    return Math.floor (from + (1+to-from) * Math.random());
		}


		function random_number (f1, f2) {
		    let t;
		    if (allow_fractions) {
			t = random_fraction (f1, f2);
		    } else {
			t =new Fraction (random_integer (-f1/2, f1/2));
		    }
		    return t;
		}

		function random_nonzero_number (f1, f2) {
		    let t;
		    do {
			if (allow_fractions) {
			    t = random_fraction (f1, f2);
			} else {
			    t =new Fraction (random_integer (-f1/2, f1/2));
			}
		    } while (t.isZero());
		    return t;
		}

		
		// function render (s) {
		//     return katex.renderToString(s, {throwOnError: false});
		// }
		
		
		var S = new SLE (this.urows, this.ucols);

		let r = 0;
		let c = 0;

		while ((r < this.urows) && (c < this.ucols)) {

		    let t = Math.random();
		    if (((t<0.2) && (r>0)) || ((t<0.1) && (r=0))) {
			c++;
		    }
		    for (let cc = 0; cc < c; cc++) {
			S.lhs.matrix[r][cc] = new Fraction(0);
		    }
		    
		    S.lhs.matrix[r][c] = random_nonzero_number (10,5);
		    for (let cc = c+1; cc < this.ucols; cc++) {
			S.lhs.matrix[r][cc] = random_number (20,6);
		    }

		    S.rhs[r] = random_number (20,6);

		    r++; c++;
		}

		S.analyse();

		for (let rr = this.urows-2; rr>=0; rr--) {

		    
		    // modify rows, with high enough probability
		    let swapmaybewith = Infinity;
		    let pivotcolumn = S.lhs.non_zero[rr];
		    if (pivotcolumn === Infinity) {continue;} // skip to next row if zero row
		    for (let rrr = this.urows-1; rrr > rr; rrr--) {
			if (Math.random() < 0.8) {
			    S.modify_row (rrr, rr, random_number (10, 5));
			    S.analyse();
			    if (S.lhs.matrix[rrr][pivotcolumn] == 0) {swapmaybewith = rrr;}
			}
		    }
		    
		    // possibly swap rows
		    if ((Math.random() < 0.4) && (swapmaybewith != Infinity)) {
			S.swap_rows (rr, swapmaybewith);
			S.analyse();
		    }
		}
		S.analyse();

		
		// this.html_system += "<br/><br/><br/>" + render(S.to_System());

		E = new GaussElimination (S);
		E.eliminate();

		// let out = "<br/><hr/><br/><p>Solve this system:</p>" + render(E.steps[0].to_System()) + "<br/><hr/><br/>";
		// this.html_system += out; 

		this.disable_gen();
					 
		SetUp();
	    }
	    
	}, // methods

    }
);


  
</script>


    <!-- <script>SetUp()</script> -->
    
  </body>
 
</html> 
